<mat-card id="gn_user.details" class="standard-container-details">
	<mat_card-header class="header-breadcrumb">
		<div fxFlex fxLayout="row">
			<gc-breadcrumb fxFlex="95"></gc-breadcrumb>
			<gc-help fxFlex="5" fxLayoutAlign="end" helpitem="gn_role"></gc-help>
		</div>
	</mat_card-header>
    <mat-card-content class="card-content">
        <form class="edit" (ngSubmit)="onSaveClick" [formGroup]="formGroup" id="gn_user.form">
            <gc-checkbox-input id="U_ACTIVE.U_ACTIVE" placeholder="Active user" error="true" labelPosition="after" formControlName="U_ACTIVE"></gc-checkbox-input>
            <gc-text-input id="U_NAME.U_NAME" placeholder="Username" error="true" formControlName="U_NAME"></gc-text-input>
            <mat-tab-group class="mat-tab-group-screen">
                <mat-tab label="General" id="gn_user.tab.general">
                    <mat-card class="mat-tab">
                        <gc-choice-input id="U_ROLE.U_ROLE" placeholder="User role" error="true" [items]="roleList" formControlName="U_ROLE"></gc-choice-input>
                        <gc-text-input id="U_EMAIL.U_EMAIL" placeholder="E-Mail address" error="true" formControlName="U_EMAIL"></gc-text-input>
                    </mat-card>
                </mat-tab>
                <mat-tab label="Password" id="gn_user.tab.password">
                    <mat-card class="mat-tab">
                        <gc-password-input id="U_HASH_PASSWORD.U_HASH_PASSWORD" placeholder="Password" error="true" formControlName="U_HASH_PASSWORD"></gc-password-input>
                        <gc-checkbox-input id="U_MUST_CHANGE.U_MUST_CHANGE" placeholder="Must change password" error="true" labelPosition="after" formControlName="U_MUST_CHANGE"></gc-checkbox-input>
                    </mat-card>
                </mat-tab>
                <mat-tab label="Personal" id="gn_user.tab.personal">
                    <mat-card class="mat-tab">
                        <gc-text-input id="U_FIRST_NAME.U_FIRST_NAME" placeholder="First name" error="true" formControlName="U_FIRST_NAME"></gc-text-input>
                        <gc-text-input id="U_MIDDLE_NAME.U_MIDDLE_NAME" placeholder="Middle name" error="true" formControlName="U_MIDDLE_NAME"></gc-text-input>
                        <gc-text-input id="U_LAST_NAME.U_LAST_NAME" placeholder="Last name" error="true" formControlName="U_LAST_NAME"></gc-text-input>
                    </mat-card>
                </mat-tab>
                <mat-tab label="Remark" id="gn_user.tab.remark">
                    <mat-card class="mat-tab">
                        <gc-monaco-editor id="U_REMARK.U_REMARK" placeholder="Remark" language="markdown" [minimap]="true" error="true" formControlName="U_REMARK"></gc-monaco-editor>
                    </mat-card>
                </mat-tab>
                <mat-tab label="Profile" id="gn_user.tab.profile">
                    <mat-card class="mat-tab">
                        <gc-choice-input id="U_LOCALE.U_LOCALE" placeholder="Locale" error="true" [items]="U_LOCALEList" formControlName="U_LOCALE"></gc-choice-input>
                        <gc-choice-input id="U_LISTITEMS.U_LISTITEMS" placeholder="Default view items" error="true" [items]="U_LISTITEMSList" formControlName="U_LISTITEMS"></gc-choice-input>
                    </mat-card>
                </mat-tab>
            </mat-tab-group>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button id="gn_user.submit" [disabled]="!formGroup.valid" (click)="onSaveClick()">Save</button>
        <button mat-button (click)="onCancelClick()" id="gn_user.cancel" tabindex="-1">Cancel</button>
    </mat-card-actions>
</mat-card>
