<mat-card id="user.table" class="standard-container">
	<div>
		<div fxFlex fxLayout="row">
			<gc-breadcrumb class="align-paginator" fxFlex="grow"></gc-breadcrumb>
			<mat-paginator #top_paginator fxFlex="500px"
							class="color-primary"
							id="user.header.paginator"
							(page)="pagingEvent( $event, 'top' )"
							[length]="resultsLength"
							[showFirstLastButtons]="true"
							[pageIndex]="pageData.pageIndex"
							[pageSize]="pageData.pageSize"
							[pageSizeOptions]="pageData.pageSizeOptions">
			</mat-paginator>
			<div class="align-paginator" fxFlex="none" fxLayoutAlign="end">
				<gc-help helpitem="user" fallback="table-overview" color="primary"></gc-help>
				<button mat-icon-button color="primary"
							(click)="refresh()" id="user.header.refresh">
					<mat-icon aria-label="Refresh the view">refresh</mat-icon>
				</button>
			</div>
		</div>
	</div>
    <mat-card-content class="card-content">
        <mat-table id="gn_user.table" #tableUser [dataSource]="dataSource" matSort class="mat-cell" >
            <!-- U_NAME Column -->
            <ng-container matColumnDef="U_NAME" class="column_U_NAME">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <filter-header title="Username" field="U_NAME"
									[filterRecord]="filterRecord">
					</filter-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let row; let i=index;" id="User.U_NAME" matTooltip="ID: {{ row.U_NAME }}"
                          (dblclick)="router.navigate( ['/user/edit'], { queryParams: { id: 'U_ID', mode: 'edit', value: row.U_ID } } )">
                    {{ row.U_NAME }}
                </mat-cell>
            </ng-container>
            <!-- U_FIRST_NAME Column -->
            <ng-container matColumnDef="U_FIRST_NAME" class="column_U_FIRST_NAME">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <filter-header title="First name" field="U_FIRST_NAME"
									[filterRecord]="filterRecord">
					</filter-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let row; let i=index;" id="User.U_FIRST_NAME" matTooltip="ID: {{ row.U_FIRST_NAME }}"
                          (dblclick)="router.navigate( ['/user/edit'], { queryParams: { id: 'U_ID', mode: 'edit', value: row.U_ID } } )">
                    {{ row.U_FIRST_NAME }}
                </mat-cell>
            </ng-container>
            <!-- U_LAST_NAME Column -->
            <ng-container matColumnDef="U_LAST_NAME" class="column_U_LAST_NAME">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <filter-header title="Last name" field="U_LAST_NAME"
									[filterRecord]="filterRecord">
					</filter-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let row; let i=index;" id="User.U_LAST_NAME" matTooltip="ID: {{ row.U_LAST_NAME }}"
                          (dblclick)="router.navigate( ['/user/edit'], { queryParams: { id: 'U_ID', mode: 'edit', value: row.U_ID } } )">
                    {{ row.U_LAST_NAME }}
                </mat-cell>
            </ng-container>
            <!-- U_EMAIL Column -->
            <ng-container matColumnDef="U_EMAIL" class="column_U_EMAIL">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <filter-header title="E-Mail address" field="U_EMAIL"
									[filterRecord]="filterRecord">
					</filter-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let row; let i=index;" id="User.U_EMAIL" matTooltip="ID: {{ row.U_EMAIL }}"
                          (dblclick)="router.navigate( ['/user/edit'], { queryParams: { id: 'U_ID', mode: 'edit', value: row.U_ID } } )">
                    {{ row.U_EMAIL }}
                </mat-cell>
            </ng-container>
            <!-- actions -->
            <ng-container matColumnDef="actions">
                <!-- Header buttons -->
                <mat-header-cell *matHeaderCellDef>
                    Options
                </mat-header-cell>
                <!-- Row buttons -->
                <mat-cell *matCellDef="let row; let i=index;" >
                    <span class="spacer"></span><button   mat-icon-button matTooltip = "Delete" color="primary" (click)="deleteRecord( i, row, 'U_NAME' )" id="gn_user.delete"><mat-icon aria-label="Delete">delete</mat-icon></button>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns">
            </mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
        </mat-table>
    </mat-card-content>
	<mat-card-footer style="margin-left: 5px; width: 100%;" >
		<div fxFlex fxLayout="row">
			<div fxFlex="grow">
				<div id="user.spinner" *ngIf="isLoadingResults; else loading_done" class="loading-progress">
					<mat-progress-bar mode="indeterminate"></mat-progress-bar>
				</div>
				<ng-template #loading_done>
					<div class="no-results" id="user.no-results" [style.display]="resultsLength == 0 ? '' : 'none'">
						{{ 'No results' | translate }}
					</div>
				</ng-template>
			</div>
			<mat-paginator #bot_paginator fxFlex="500px"
							class="color-primary"
							id="user.botton.paginator"
							[length]="resultsLength"
							[showFirstLastButtons]="true"
							(page)="pagingEvent( $event, 'bottom' )"
							[pageIndex]="pageData.pageIndex"
							[pageSize]="pageData.pageSize"
							[pageSizeOptions]="pageData.pageSizeOptions">
			</mat-paginator>
			<div class="align-paginator" fxFlex fxLayoutAlign="end">
				<button mat-icon-button color="primary"
						id="user.botton.refresh"
						(click)="refresh()">
					<mat-icon aria-label="Refresh the view">refresh</mat-icon>
				</button>
			</div>
		</div>
	</mat-card-footer>
</mat-card>

