<mat-card id="tracking.table" class="standard-container">
	<div>
		<div fxFlex fxLayout="row">
			<gc-breadcrumb class="align-paginator" fxFlex="grow"></gc-breadcrumb>
			<mat-paginator #top_paginator fxFlex="500px"
							class="color-primary"
							id="tracking.header.paginator"
							(page)="pagingEvent( $event, 'top' )"
							[length]="resultsLength"
							[showFirstLastButtons]="true"
							[pageIndex]="pageData.pageIndex"
							[pageSize]="pageData.pageSize"
							[pageSizeOptions]="pageData.pageSizeOptions">
			</mat-paginator>
			<div class="align-paginator" fxFlex="none" fxLayoutAlign="end">
				<gc-help helpitem="tracking" fallback="table-overview" color="primary"></gc-help>
				<button mat-icon-button color="primary"
							(click)="refresh()" id="tracking.header.refresh">
					<mat-icon aria-label="Refresh the view">refresh</mat-icon>
				</button>
			</div>
		</div>
	</div>
    <mat-card-content class="card-content">
		<mat-table id="tracking.table" #tableTracking 
					[dataSource]="dataSource" matSort 
					class="mat-cell" 
					matSortActive="T_CHANGE_DATE_TIME" 
					matSortDirection="desc">
            <!-- T_USER Column -->
            <ng-container matColumnDef="T_USER" class="column_T_USER">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <filter-header title="User" field="T_USER"
									[filterRecord]="filterRecord">
					</filter-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let row; let i=index;" id="Tracking.T_USER" matTooltip="ID: {{ row.T_USER }}"
                          (dblclick)="router.navigate( ['/tracking/edit'], { queryParams: { id: 'T_ID', mode: 'edit', value: row.T_ID } } )">
                    {{ row.T_USER }}
                </mat-cell>
            </ng-container>
            <!-- T_TABLE Column -->
            <ng-container matColumnDef="T_TABLE" class="column_T_TABLE">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <filter-header title="Table" field="T_TABLE"
									[filterRecord]="filterRecord">
					</filter-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let row; let i=index;" id="Tracking.T_TABLE" matTooltip="ID: {{ row.T_TABLE }}"
                          (dblclick)="router.navigate( ['/tracking/edit'], { queryParams: { id: 'T_ID', mode: 'edit', value: row.T_ID } } )">
                    {{ row.T_TABLE }}
                </mat-cell>
            </ng-container>
            <!-- T_ACTION Column -->
            <ng-container matColumnDef="T_ACTION" class="column_T_ACTION">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <filter-header title="Action" field="T_ACTION"
									[filterRecord]="filterRecord">
					</filter-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let row; let i=index;" id="Tracking.T_ACTION" matTooltip="ID: {{ row.T_ACTION }}"
                          (dblclick)="router.navigate( ['/tracking/edit'], { queryParams: { id: 'T_ID', mode: 'edit', value: row.T_ID } } )">
                    {{ row.T_ACTION_LABEL }}
                </mat-cell>
            </ng-container>
            <!-- T_CHANGE_DATE_TIME Column -->
			<ng-container matColumnDef="T_CHANGE_DATE_TIME" 
							class="column_T_CHANGE_DATE_TIME">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
					<filter-header title="Change timestamp" 
									field="T_CHANGE_DATE_TIME"
									[filterRecord]="filterRecord">
					</filter-header>
                </mat-header-cell>
				<mat-cell *matCellDef="let row; let i=index;" 
							id="Tracking.T_CHANGE_DATE_TIME" 
							matTooltip="ID: {{ row.T_CHANGE_DATE_TIME }}"
                          	(dblclick)="router.navigate( ['/tracking/edit'], { queryParams: { id: 'T_ID', mode: 'edit', value: row.T_ID } } )">
                    {{ row.T_CHANGE_DATE_TIME }}
                </mat-cell>
            </ng-container>
            <!-- actions -->
            <ng-container matColumnDef="actions">
                <!-- Header buttons -->
                <mat-header-cell *matHeaderCellDef>
                    Options
                </mat-header-cell>
                <!-- Row buttons -->
                <mat-cell *matCellDef="let row; let i=index;" >
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns">
            </mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
        </mat-table>
    </mat-card-content>
	<mat-card-footer style="margin-left: 5px; width: 100%;" >
		<div fxFlex fxLayout="row">
			<div fxFlex="grow">
				<div id="tracking.spinner" *ngIf="isLoadingResults; else loading_done" class="loading-progress">
					<mat-progress-bar mode="indeterminate"></mat-progress-bar>
				</div>
				<ng-template #loading_done>
					<div class="no-results" id="tracking.no-results" [style.display]="resultsLength == 0 ? '' : 'none'">
						{{ 'No results' | translate }}
					</div>
				</ng-template>
			</div>
			<mat-paginator #bot_paginator fxFlex="500px"
							class="color-primary"
							id="tracking.botton.paginator"
							[length]="resultsLength"
							[showFirstLastButtons]="true"
							(page)="pagingEvent( $event, 'bottom' )"
							[pageIndex]="pageData.pageIndex"
							[pageSize]="pageData.pageSize"
							[pageSizeOptions]="pageData.pageSizeOptions">
			</mat-paginator>
			<div class="align-paginator" fxFlex fxLayoutAlign="end">
				<button mat-icon-button color="primary"
						id="tracking.botton.refresh"
						(click)="refresh()">
					<mat-icon aria-label="Refresh the view">refresh</mat-icon>
				</button>
			</div>
		</div>
	</mat-card-footer>
</mat-card>

