<mat-card id="role.details" class="standard-container-details">
	<mat_card-header class="header-breadcrumb">
		<div fxFlex fxLayout="row">
			<gc-breadcrumb fxFlex="95"></gc-breadcrumb>
			<gc-help fxFlex="5" fxLayoutAlign="end" helpitem="role"></gc-help>
		</div>
	</mat_card-header>
    <mat-card-content class="card-content">
		<form class="edit" 
				(ngSubmit)="onSaveClick" 
				[formGroup]="formGroup" 
				id="role.form">
			<gc-text-input id="role.R_ROLE" 
							placeholder="Description" 
							error="true" 
							formControlName="R_ROLE"></gc-text-input>
            <div class="editor-screen">
				<gc-monaco-editor id="role.R_REMARK" 
							placeholder="Remark" 
							language="markdown" 
							height="auto" 
							[minimap]="true" 
							[heightAdjust]="-120" 
							error="true" 
							formControlName="R_REMARK"></gc-monaco-editor>
            </div>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button id="role.submit" [disabled]="!formGroup.valid" (click)="onSaveClick()">Save</button>
        <button mat-button id="role.cancel" (click)="onCancelClick()" tabindex="-1">Cancel</button>
    </mat-card-actions>
</mat-card>
