<div class="container" id="languages">
    <h3 mat-dialog-title id="languages.title">{{ mode }} Languages</h3>
    <form class="mat-dialog-content" (ngSubmit)="submit" [formGroup]="formGroup" id="languages.form">
        <gc-text-input id="LA_LABEL.LA_LABEL" placeholder="Label" error="true" formControlName="LA_LABEL"></gc-text-input>
        <gc-text-input id="LA_CODE2.LA_CODE2" placeholder="Code-2" error="true" formControlName="LA_CODE2"></gc-text-input>
        <gc-text-input id="LA_CODE3.LA_CODE3" placeholder="Code-3" error="true" formControlName="LA_CODE3"></gc-text-input>
        <gc-text-input id="LA_LOCALE.LA_LOCALE" placeholder="Locale" error="true" formControlName="LA_LOCALE"></gc-text-input>
        <div mat-dialog-actions>
            <button mat-button
                    [type]="submit"
                    id="languages.submit"
                    [disabled]="!formGroup.valid"
                    [mat-dialog-close]="1"
                    (click)="onSaveClick()">Save</button>
            <button mat-button
                    (click)="onCancelClick()"
                    id="languages.cancel"
                    tabindex="-1">Cancel</button>
        </div>
    </form>
</div>

