<mat-card class="login-card">
	<h2 mat-card-title>Inloggen</h2>
	<form [formGroup]="loginForm" novalidate>
		<mat-form-field>
			<!-- hieronder de formControlName zoals in de formgroup is beschreven -->
			<input matInput placeholder="Username" formControlName="userid" [formControl]="userid">
			<mat-error *ngIf="userid.hasError('minlength') || userid.hasError('maxlength')">
				Username must be 7 characters
			</mat-error>
			<mat-error *ngIf="userid.hasError('required')">
				Username is mandatory
			</mat-error>
		</mat-form-field>

		<mat-form-field>
			<input matInput [type]="showPw ? 'text' : 'password'" placeholder="Password" formControlName='password'>
			<mat-icon matSuffix (click)="showPw = !showPw">{{showPw ? 'visibility_off' : 'visibility'}}</mat-icon>
			<mat-error *ngIf="password.hasError('minlength') && !password.hasError('required')">
				Password must be atleast {{ password.errors.minlength.requiredLength }} characters
			</mat-error>
			<mat-error *ngIf="password.hasError('required')">
				Password is mandatory
			</mat-error>
		</mat-form-field>
		<mat-checkbox name="keepSignedIn" formControlName='keepSignedIn'>
			Keep me signed in
		</mat-checkbox>
	</form>
	<mat-card-actions>
		<button mat-raised-button *ngIf="!invalidLogin" color="primary" [disabled]='!loginForm.valid' (click)="onSubmit()">Login</button>
		<button mat-raised-button *ngIf="invalidLogin" color="warn" [disabled]='!loginForm.valid' (click)="onSubmit()">Login
			mislukt, opnieuw</button>
		<button mat-raised-button type="button" color="accent" (click)="onCancel()" style="margin-left:25px">Cancel</button>
	</mat-card-actions>
</mat-card>