<mat-card id="gn_user.table" class="standard-container">
    <div>
		<div fxFlex fxLayout="row">
			<app-breadcrumb class="align-paginator" fxFlex="grow"></app-breadcrumb>
			<mat-paginator #top_paginator fxFlex="40"
							id="gn_user.header.paginator"
							[length]="dataSource.filteredData.length"
							(page)="pagingEvent( $event )"
							[pageIndex]="pageIndex"
							[pageSize]="pageSize"
							[pageSizeOptions]="[5, 10, 25, 100]">
			</mat-paginator>
			<div class="align-paginator" fxFlex="none" fxLayoutAlign="end">
                <span class="spacer"></span><a   mat-icon-button matTooltip = "New" color="primary" (click)="router.navigate( ['/gn_user/new'], { queryParams: { id: 0, mode: 'add' } } )" id="gn_user.new" angular_route="true"><mat-icon aria-label="New">add</mat-icon></a>
				<app-help helpitem="gn_user" fallback="table-overview" color="primary"></app-help>
				<button mat-icon-button color="primary"
							(click)="refresh()" id="gn_user.header.refresh">
					<mat-icon aria-label="Refresh the view">refresh</mat-icon>
				</button>
			</div>
		</div>
	</div>
    <mat-card-content class="card-content">
        <mat-table id="gn_user.table" #tableUser [dataSource]="dataSource" matSort class="mat-cell" >
            <!-- U_NAME Column -->
            <ng-container matColumnDef="U_NAME" class="column_U_NAME">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <filter-header title="Username" field="U_NAME"
									[filterRecord]="filterRecord"
									[dataSource]="dataSource"
									(applyFilter)="applyFilter( filterRecord )">
					</filter-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let row; let i=index;" id="User.U_NAME" matTooltip="ID: {{ row.U_NAME }}"
                          (dblclick)="router.navigate( ['/gn_user/edit'], { queryParams: { id: 'U_ID', mode: 'edit', value: row.U_ID } } )">
                    {{ row.U_NAME }}
                </mat-cell>
            </ng-container>
            <!-- U_FIRST_NAME Column -->
            <ng-container matColumnDef="U_FIRST_NAME" class="column_U_FIRST_NAME">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <filter-header title="First name" field="U_FIRST_NAME"
									[filterRecord]="filterRecord"
									[dataSource]="dataSource"
									(applyFilter)="applyFilter( filterRecord )">
					</filter-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let row; let i=index;" id="User.U_FIRST_NAME" matTooltip="ID: {{ row.U_FIRST_NAME }}"
                          (dblclick)="router.navigate( ['/gn_user/edit'], { queryParams: { id: 'U_ID', mode: 'edit', value: row.U_ID } } )">
                    {{ row.U_FIRST_NAME }}
                </mat-cell>
            </ng-container>
            <!-- U_LAST_NAME Column -->
            <ng-container matColumnDef="U_LAST_NAME" class="column_U_LAST_NAME">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <filter-header title="Last name" field="U_LAST_NAME"
									[filterRecord]="filterRecord"
									[dataSource]="dataSource"
									(applyFilter)="applyFilter( filterRecord )">
					</filter-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let row; let i=index;" id="User.U_LAST_NAME" matTooltip="ID: {{ row.U_LAST_NAME }}"
                          (dblclick)="router.navigate( ['/gn_user/edit'], { queryParams: { id: 'U_ID', mode: 'edit', value: row.U_ID } } )">
                    {{ row.U_LAST_NAME }}
                </mat-cell>
            </ng-container>
            <!-- U_EMAIL Column -->
            <ng-container matColumnDef="U_EMAIL" class="column_U_EMAIL">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <filter-header title="E-Mail address" field="U_EMAIL"
									[filterRecord]="filterRecord"
									[dataSource]="dataSource"
									(applyFilter)="applyFilter( filterRecord )">
					</filter-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let row; let i=index;" id="User.U_EMAIL" matTooltip="ID: {{ row.U_EMAIL }}"
                          (dblclick)="router.navigate( ['/gn_user/edit'], { queryParams: { id: 'U_ID', mode: 'edit', value: row.U_ID } } )">
                    {{ row.U_EMAIL }}
                </mat-cell>
            </ng-container>
            <!-- actions -->
            <ng-container matColumnDef="actions">
                <!-- Header buttons -->
                <mat-header-cell *matHeaderCellDef>
                    Options
                </mat-header-cell>
                <!-- Row buttons -->
                <mat-cell *matCellDef="let row; let i=index;" >
                    <span class="spacer"></span><button   mat-icon-button matTooltip = "Delete" color="primary" (click)="deleteRecord( i, row, 'U_NAME' )" id="gn_user.delete"><mat-icon aria-label="Delete">delete</mat-icon></button>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns">
            </mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
        </mat-table>
    </mat-card-content>
    <mat-card-footer style="margin-left: 5px; width: 100%;" >
		<div fxFlex fxLayout="row">
			<div fxFlex="grow">
				<div id="gn_user.spinner" *ngIf="spinnerService.visibility | async as visibility; else loading_done" class="loading-progress">
					<mat-progress-bar mode="indeterminate"></mat-progress-bar>
				</div>
				<ng-template #loading_done>
					<div class="no-results" id="gn_user.no-results"
							[style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
						No results
					</div>
				</ng-template>
			</div>
			<mat-paginator #bot_paginator fxFlex="40"
							id="gn_user.botton.paginator"
							[length]="dataSource.filteredData.length"
							(page)="pagingEvent( $event )"
							[pageIndex]="pageIndex"
							[pageSize]="pageSize"
							[pageSizeOptions]="[5, 10, 25, 100]">
			</mat-paginator>
			<div class="align-paginator" fxFlex fxLayoutAlign="end">
				<button mat-icon-button color="primary"
				        id="gn_user.botton.refresh"
						(click)="refresh()">
					<mat-icon aria-label="Refresh the view">refresh</mat-icon>
				</button>
			</div>
		</div>
	</mat-card-footer>
</mat-card>

