<mat-card id="user">
    <mat-card-content>
        <div class="navigator-row form">
            <mat-form-field floatPlaceholder="never" color="accent">
                <input matInput #filter placeholder="Filter User" [value]="dataSource.filter" id="user.filter">
            </mat-form-field>
            <span class="spacer-search"></span>
                <span class="spacer"></span><button   mat-icon-button matTooltip = "New" color="primary" (click)="screenAddNew()" id="user.new"><mat-icon aria-label="New">add</mat-icon></button>
            <span class="spacer-search"></span>
            <span id="user.header.paginator">
                <mat-paginator #top_paginator [length]="dataSource.filteredData.length" (page)="pagingEvent( $event )"
                       [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
            </span>
            <span>
                <button mat-icon-button color="primary" (click)="refresh()" id="user.header.refresh">
                    <mat-icon aria-label="Refresh the view">refresh</mat-icon>
                </button>
            </span>
        </div>
        <mat-table id="user.table" #tableUser [dataSource]="dataSource" matSort class="mat-cell" >
            <!-- D_USER_NAME Column -->
            <ng-container matColumnDef="D_USER_NAME" class="column_D_USER_NAME">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    User name
                </mat-header-cell>
                <mat-cell *matCellDef="let row; let i=index;" id="User.D_USER_NAME" matTooltip="ID: {{ row.D_USER_NAME }}"
                          (dblclick)="screenEditRecord( i, row )">
                    {{ row.D_USER_NAME }}
                </mat-cell>
            </ng-container>
            <!-- D_FIRST_NAME Column -->
            <ng-container matColumnDef="D_FIRST_NAME" class="column_D_FIRST_NAME">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    First name
                </mat-header-cell>
                <mat-cell *matCellDef="let row; let i=index;" id="User.D_FIRST_NAME" matTooltip="ID: {{ row.D_FIRST_NAME }}"
                          (dblclick)="screenEditRecord( i, row )">
                    {{ row.D_FIRST_NAME }}
                </mat-cell>
            </ng-container>
            <!-- D_LAST_NAME Column -->
            <ng-container matColumnDef="D_LAST_NAME" class="column_D_LAST_NAME">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Last name
                </mat-header-cell>
                <mat-cell *matCellDef="let row; let i=index;" id="User.D_LAST_NAME" matTooltip="ID: {{ row.D_LAST_NAME }}"
                          (dblclick)="screenEditRecord( i, row )">
                    {{ row.D_LAST_NAME }}
                </mat-cell>
            </ng-container>
            <!-- D_ENABLED Column -->
            <ng-container matColumnDef="D_ENABLED" class="column_D_ENABLED">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Active
                </mat-header-cell>
                <mat-cell *matCellDef="let row; let i=index;" id="User.D_ENABLED" matTooltip="ID: {{ row.D_ENABLED }}"
                          (dblclick)="screenEditRecord( i, row )">
                    {{ row.D_ENABLED_LABEL }}
                </mat-cell>
            </ng-container>
            <!-- actions -->
            <ng-container matColumnDef="actions">
                <!-- Header buttons -->
                <mat-header-cell *matHeaderCellDef>
                    Options
                </mat-header-cell>
                <!-- Row buttons -->
                <mat-cell *matCellDef="let row; let i=index;" >
                    <span class="spacer"></span><button   mat-icon-button matTooltip = "Delete" color="primary" (click)="dialogDeleteRecord( i, row )" id="user.delete"><mat-icon aria-label="Delete">delete</mat-icon></button>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns">
            </mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
        </mat-table>
        <div class="http-spinner" *ngIf="spinnerService.visibility | async as visibility; else loading_done">
            <div class="http-spinner-inner">
                <mat-spinner [diameter]="50"></mat-spinner>
            </div>
        </div>
        <ng-template #loading_done>
            <div class="no-results" id="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
                No results
            </div>
        </ng-template>
        <div class="navigator-row">
            <span>
            </span>
            <span class="spacer"></span>
            <span id="user.botton.paginator">
                <mat-paginator #bot_paginator [length]="dataSource.filteredData.length" (page)="pagingEvent( $event )"
                               [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
            </span>
            <span>
                <button mat-icon-button color="primary" (click)="refresh()" id="user.botton.refresh">
                    <mat-icon aria-label="Refresh the view">refresh</mat-icon>
                </button>
            </span>
        </div>
    </mat-card-content>
</mat-card>

