<mat-toolbar color="primary">
	<mat-toolbar-row>
		<button mat-icon-button (click)="toggleSidebar()">
			<mat-icon>menu</mat-icon>	
		</button>
		<span>App logo</span>
		<span>App title</span>
		<div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
			<ul fxLayout="row" fxLayoutGap="20px">
				<li>
					<app-theme-switcher></app-theme-switcher>
				</li>
				<li>
					<button mat-icon-button>
						<mat-icon>settings</mat-icon>
					</button>
				</li>
				<li>
					<app-help helpitem="main"></app-help>
				</li>
				<li>
					<button mat-button [matMenuTriggerFor]="menu">
						<mat-icon>person_outline</mat-icon>
					</button>
					<mat-menu #menu="matMenu">
						<app-user-profile></app-user-profile>
					</mat-menu>
				</li>
			</ul>
		</div>
	</mat-toolbar-row>
</mat-toolbar>
